<!--Store this code in 'register.html' file inside the 'templates' folder-->
<html>
	<head>
		<meta charset="UTF-8">
		<title> register </title>
		<link rel="stylesheet" href="style.css">	
		<style> 
			input {
				width: 250px;
			}
		</style>
	</head>
	<body>
		<div class="registercontent" align="center">
			<div class="registertop">
				<h1>Register</h1>
			</div></br></br>
			<div class="registerbottom">
			<form action="{{ url_for('register')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }}</div>
			<input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
			<input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br>
			<input type="text" name="favoriteBookTitle" placeholder="Enter your favorite book here" class="textbox" id="favoriteBookTitle"></br></br>
			<input type="text" name="favoriteBookAuthor" placeholder="Enter the author of your favorite book" class="textbox" id="favoriteBookAuthor"></br></br>
			<input type="text" name="favoriteAuthor" placeholder="Enter Your favorite author here" class="textbox" id="favoriteAuthor"></br></br>
			<input type="submit" class="btn" value="Register">
			</form>
			<p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p>
			</div>
		</div>
	</body>
</html>
